@use "sass:color";
$user-bg: #f4e9d5;
$user-text-color: #2b2b2b;
$bot-bg: #96a9af;
$bot-text-color: #f5f6f7;

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.two-column-layout {
  display: flex;
  height: 100vh;
}

.img-column {
  width: 50%;
  position: relative;
}

.chat-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg-image.jpeg");
  background-size: cover;
  background-position: center;
}

.logo {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 60px;
  height: auto;
  z-index: 9;
}

.chat-header {
  padding: 10px 16px;
  background: #002e6d;
  color: #fff;

  h1 {
    font-size: 1.85rem;
    display: flex;
    justify-content: space-between;
  }

  p {
    display: flex;
    justify-content: space-between;
  }
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  max-width: 70%;
  padding: 12px 14px;
  border-radius: 10px;
  line-height: 1.4;

  &[dir="rtl"] {
    text-align: right;
    font-family: "Tahoma", "Arial", sans-serif;
  }

  &[dir="ltr"] {
    text-align: left;
  }

  &.user {
    align-self: flex-end;
    background: $user-bg;
    color: $user-text-color;
  }

  &.bot {
    align-self: flex-start;
    background: $bot-bg;
    color: $bot-text-color;
  }
}

.input-container {
  position: relative;
  display: flex;
  padding: 12px;

  input {
    flex: 1;
    padding: 16px;
    background-color: #eeecec;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    outline: none;
  }

  button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 24px;
    }
  }
}

.typing {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $bot-text-color;

  span {
    display: inline-block;
    animation: blink 1.2s infinite ease-in-out;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .two-column-layout {
    flex-direction: column;
  }

  .img-column {
    display: none;
  }

  .chat-column {
    width: 100%;
    height: 100vh;
  }

  .logo {
    width: 50px;
  }
}
